{% import 'generate.tmpl' as generate %}

import struct
import sys

from enum import Enum, Flag
from abc import ABC, abstractmethod
from typing import Any, Union, List, Optional

# Codec encode/decode context
class CodecContext:
    def __init__(self, buffer: Union[bytes, bytearray, memoryview], offset: int = 0) -> None:
        self.buffer = buffer
        self.offset = offset

class Codec(ABC):
    @abstractmethod
    def pack(self, ctx: CodecContext, value: Any) -> None:
        raise NotImplementedError

    @abstractmethod
    def unpack(self, ctx: CodecContext) -> Any:
        raise NotImplementedError

{% for type in schema.types %}
  {% if type.token == 'composite' and type.name == 'messageHeader' %}
{{ generate.define_composite(type, schema) }}
  {% elif type.token == 'enum' %}
{{ generate.define_enum(type, schema) }}
  {% elif type.token == 'set' %}
{{ generate.define_set(type, schema) }}
  {% endif %}
{% endfor %}

{% for message in schema.messages %}
{{ generate.define_message(message, schema) }}
{% endfor %}

buffer = bytearray(10)
ctx = CodecContext(buffer)
print(buffer)

# ctx.offset = 0
# codec = MDInstrumentDefinitionSpread56Message.DisplayFactorField()
# codec.pack(ctx, { 'mantissa': 100 })
# print(buffer)
#
# print(codec.unpack(ctx))

ctx.offset = 2
MessageHeader.pack(ctx, {
    'blockLength': 20,
    'templateId': 13,
    'schemaId': 20,
    'version': 0
})
print(buffer)
print(MessageHeader.unpack(ctx))

ctx.offset = 0
UserDataStreamStartResponseMessage.pack(ctx, {
    'listenKey': 'key12345'
})
print(buffer)

ctx.offset = 0
print(UserDataStreamStartResponseMessage.unpack(ctx))

buffer = bytearray(120)
ctx = CodecContext(buffer)

AccountCommissionResponseMessage.pack(ctx, {
    'commissionExponent': 50,
    'discountExponent': 55,
    'standardCommissionMaker': 10000,
    'standardCommissionTaker': 10001,
    'standardCommissionBuyer': 10002,
    'standardCommissionSeller': 10003,
    'taxCommissionMaker': 10004,
    'taxCommissionTaker': 10005,
    'taxCommissionBuyer': 10006,
    'taxCommissionSeller': 10007,
    'discountEnabledForAccount': BoolEnum.TRUE,
    'discountEnabledForSymbol': BoolEnum.FALSE,
    'discount': 30000,
    'symbol': 'SUPER-MEGA-GIPER-SYMBOL',
    'discountAsset': '123'
})

ctx.offset = 0
print(AccountCommissionResponseMessage.unpack(ctx))

ctx.offset = 0
CancelOpenOrdersResponseMessage.pack(ctx, {
    'responses': [
        { 'response': [32, 32, 32] },
        { 'response': [64, 64, 64] },
        { 'response': [32, 48, 64] }
    ]
})
ctx.offset = 0
print(CancelOpenOrdersResponseMessage.unpack(ctx))
