{% extends 'document.tmpl' %}

{% import 'method.tmpl' as method %}

{% block content %}
/// @brief Composite {{ type.name }}
{% if type.description %}
/// {{ type.description }}
{% endif %}
class {{ type.name | className }} final {
private:
    char* buffer_ = nullptr;
    std::size_t bufferLength_ = 0;
    std::size_t offset_ = 0;
    std::uint16_t actingVersion_ = 0;

public:
    {{ type.name | className }}() = default;

    {{ type.name | className }}(char* buffer, std::size_t offset, std::size_t bufferLength, std::uint16_t actingVersion)
        : buffer_(buffer)
        , bufferLength_(bufferLength)
        , offset_(offset)
        , actingVersion_(actingVersion)
    {
        if ((offset_ + encodedLength()) > bufferLength_) [[unlikely]] {
            throw std::runtime_error("buffer too short for flyweight {{ type.name }} [E107]");
        }
    }

    {{ type.name | className }}(char* buffer, std::size_t bufferLength, std::uint16_t actingVersion)
        : {{ type.name | className }}(buffer, 0, bufferLength, actingVersion)
    {}

    {{ type.name | className }}(char* buffer, std::size_t bufferLength)
        : {{ type.name | className }}(buffer, 0, bufferLength, sbeSchemaVersion())
    {}

    {{ type.name | className }}& wrap(char* buffer, std::size_t offset, std::size_t bufferLength, std::uint16_t actingVersion) {
        return *this = {{ type.name | className }}(buffer, offset, bufferLength, actingVersion);
    }

    [[nodiscard]] char const* buffer() const noexcept {
        return buffer_;
    }

    [[nodiscard]] char* buffer() noexcept {
        return buffer_;
    }

    [[nodiscard]] std::size_t bufferLength() const noexcept {
        return bufferLength_;
    }

    [[nodiscard]] std::size_t offset() const noexcept {
        return offset_;
    }

    [[nodiscard]] std::uint16_t actingVersion() const noexcept {
        return actingVersion_;
    }

    [[nodiscard]] static constexpr std::uint16_t sbeSchemaId() noexcept {
        return {{ schema.id }};
    }

    [[nodiscard]] static constexpr std::uint16_t sbeSchemaVersion() noexcept {
        return {{ schema.version }};
    }

    [[nodiscard]] static constexpr std::size_t encodedLength() noexcept {
        return {{ type.encodedLength }};
    }

{% for entry in type.containedTypes %}
    {{ method.generate(type.name | className, entry) | indent }}
{% endfor %}
};

namespace v2 {

{% set type_class_name = type.name | format_class_name %}

class {{ type_class_name }} final {
private:
    char *buffer_ = nullptr;
    std::size_t bufferLength_ = 0;
    std::size_t offset_ = 0;
    std::uint16_t actingVersion_ = 0;

public:
    {{ type_class_name }}() = default;

    {{ type_class_name }}(char* buffer, std::size_t offset, std::size_t bufferLength,
            std::uint16_t actingVersion)
        : buffer_(buffer)
        , bufferLength_(bufferLength)
        , offset_(offset)
        , actingVersion_(actingVersion)
    {
        if ((offset_ + encodedLength()) > bufferLength_) [[unlikely]] {
            throw std::runtime_error("buffer too short for flyweight {{ type.name }} [E107]");
        }
    }

    {{ type_class_name }}(char* buffer, std::size_t bufferLength, std::uint16_t actingVersion)
        : {{ type_class_name }}(buffer, 0, bufferLength, actingVersion)
    {}

    {{ type_class_name }}(char* buffer, std::size_t bufferLength)
        : {{ type_class_name }}(buffer, 0, bufferLength, sbeSchemaVersion())
    {}

    {{ type_class_name }}& wrap(char* buffer, std::size_t offset, std::uint16_t actingVersion,
            std::size_t bufferLength) {
        return *this = {{ type_class_name }}(buffer, offset, bufferLength, actingVersion);
    }

    [[nodiscard]] static constexpr std::size_t encodedLength() noexcept {
        return {{ type.encodedLength }};
    }

    [[nodiscard]] std::size_t offset() const noexcept {
        return offset_;
    }

    [[nodiscard]] char const* buffer() const noexcept {
        return buffer_;
    }

    [[nodiscard]] char* buffer() noexcept {
        return buffer_;
    }

    [[nodiscard]] std::size_t bufferLength() const noexcept {
        return bufferLength_;
    }

    [[nodiscard]] std::uint16_t actingVersion() const noexcept {
        return actingVersion_;
    }

    [[nodiscard]] static constexpr std::uint16_t sbeSchemaId() noexcept {
        return {{ schema.id }};
    }

    [[nodiscard]] static constexpr std::uint16_t sbeSchemaVersion() noexcept {
        return {{ schema.version }};
    }

{% for containedType in type.containedTypes %}
    {{ method.generate(type_class_name, containedType) | indent }}

{% endfor %}
};

} // namespace v2

{% endblock %}
