{% extends 'document.tmpl' %}

{% block content %}

{%- set type_class_name = type.name | format_class_name -%}
{%- set underlying_type = type.encodingType | replace_keyword -%}

enum class {{ type_class_name }} : {{ underlying_type }} {
{% for validValue in type.validValues %}
    {% if type.encodingType == 'char' %}
    {{ validValue.name }} = '{{ validValue.value }}',
    {% else %}
    {{ validValue.name }} = {{ validValue.value }},
    {% endif %}
{% endfor %}
    NULL_VALUE = {{ type.nullValue | replace_keyword }}
};

{% endblock %}
