{% extends 'impl_base.tmpl' %}

{% set className = enum.name | class %}

{% block impl %}
/// Enum @c {{ enum.name }}
{% if enum.description != None %}
/// {{ enum.description }}
{% endif %}
enum class {{ className }} : {{ enum.encodingType.name | cpp }} {
{% for validValue in enum.validValues.values() %}
{% if validValue.description != None %}
    /// {{ validValue.description }}
{% endif %}
    {% if enum.encodingType.name == 'char' %}
    {{ validValue.name }} = '{{ validValue.value }}',
    {% else %}
    {{ validValue.name }} = {{ validValue.value }},
    {% endif %}
{% endfor %}
    // description: no value indicator
    NULL_VALUE = {{ enum.nullValue | cpp }}
};
{% endblock -%}
