{% extends 'document.tmpl' %}

{% block includes %}
#include <concepts>
#include <cstdint>
#include <type_traits>
#include <limits>
{% endblock %}

{% block content %}

// {{ blockLength.name }} -> {{ blockLength.primitive_type.name }}
// {{ templateId.name }} -> {{ templateId.primitive_type.name }}
// {{ schemaId.name }} -> {{ schemaId.primitive_type.name }}
// {{ version.name }} -> {{ version.primitive_type.name }}

template <std::size_t N>
struct CtString {
    std::array<char, N> data{};

    consteval CtString() = default;

    consteval CtString(char const* str) noexcept {
        for (std::size_t i = 0; i < N; ++i) {
            data[i] = str[i];
        }
    }

    consteval explicit CtString(char const* str, std::size_t size) noexcept {
        for (std::size_t i = 0; i < size; ++i) {
            data[i] = str[i];
        }
    }

    constexpr explicit CtString(std::string_view str) noexcept
        : CtString(str.data(), str.size())
    {}

    [[nodiscard]] constexpr operator std::string_view() const noexcept {
        return std::string_view(data.data(), data.size());
    }
};

/// CTAD
template <std::size_t N>
CtString(char const (&)[N]) -> CtString<N - 1>;

enum class ByteOrder {
    BigEndian,
    LittleEndian
};

/// Get current host byte order
consteval auto hostByteOrder() noexcept -> ByteOrder {
#if __BYTE_ORDER__ == __ORDER_LITTLE_ENDIAN__
    return ByteOrder::LittleEndian;
#elif __BYTE_ORDER__ == __ORDER_BIG_ENDIAN__
    return ByteOrder::BigEndian;
#else
#   error "byte order not defined for your system"
#endif
}

/// Get schema byte order
consteval auto schemaByteOrder() noexcept -> ByteOrder {
{% if schema.byte_order == 'littleEndian' %}
    return ByteOrder::LittleEndian;
{% elif schema.byte_order == 'bigEndian' %}
    return ByteOrder::BigEndian;
{% else %}
    return ByteOrder::Unknown;
{% endif %}
}

template<typename T>
    requires std::is_arithmetic_v<T>
constexpr void swapByteOrder(T& value) noexcept {
    if constexpr (schemaByteOrder() != hostByteOrder()) {
        if constexpr (sizeof(T) == 8) {
            value = __builtin_bswap64(value);
        } else if constexpr (sizeof(T) == 4) {
            value = __builtin_bswap32(value);
        } else if constexpr (sizeof(T) == 2) {
            value = __builtin_bswap16(value);
        }
    }
}

template <typename... Ts>
struct MP_List {};

template <std::size_t N>
using MP_SizeT = std::integral_constant<std::size_t, N>;

namespace detail {

template <typename L>
struct MP_SizeImpl;

template <template <typename...> typename L, typename... T>
struct MP_SizeImpl<L<T...>> {
    using type = MP_SizeT<sizeof...(T)>;
};

} // namespace detail

template <typename L>
using MP_Size = typename detail::MP_SizeImpl<L>::type;

namespace detail {

template <typename L, typename I>
struct MP_AtImpl;

template <template <typename...> typename L, typename... T, typename I>
struct MP_AtImpl<L<T...>, I> {
    using type = typename std::tuple_element<I::value, std::tuple<T...>>::type;
};

} // namespace detail

template <typename L, typename I>
using MP_At = typename detail::MP_AtImpl<L, I>::type;

{% endblock %}
