{% extends 'document.tmpl' %}
{% import 'generate.tmpl' as generate with context %}

{% block includes %}
#include <algorithm>
#include <array>
#include <bit>
#include <cstddef>
#include <cmath>
#include <cstring>
#include <span>
#include <stdexcept>
#include <string_view>

{% for contained_type in type.contained_types %}
    {% if not contained_type.inplace and contained_type.token in ('enum', 'set', 'composite') %}
#include "{{ contained_type.name | document_name }}"
    {% endif %}
{% endfor %}
#include "common.h"
{% endblock %}

{% block content %}
{% set template_id_cpp_t = templateId.primitive_type.name | replace_keyword %}
{% set schema_id_cpp_t = schemaId.primitive_type.name | replace_keyword %}
{% set version_cpp_t = version.primitive_type.name | replace_keyword %}
{% set class_cpp_t = type.name | fmt_class_name %}

// name:            {{ type.name }}
// description:     {{ type.description }}
// since version:   {{ type.since_version }}
// deprecated:      {{ type.deprecated }}
// encoded length:  {{ type.encoded_length }}
class {{ class_cpp_t }} final
{
private:
    std::byte* buffer_ = nullptr;
    {{ version_cpp_t }} actingVersion_ = 0;

public:
{% for contained_type in type.contained_types if contained_type.inplace %}
    {% if contained_type.token == 'enum' %}
    {{ generate.enum(contained_type) | indent(4) }}

    {% elif contained_type.token == 'set' %}
    {{ generate.set(contained_type) | indent(4) }}

    {% elif contained_type.token == 'composite' %}
    {{ generate.composite(contained_type) | indent(4) }}

    {% endif %}
{% endfor %}
    constexpr {{ class_cpp_t }}() = default;

    constexpr {{ class_cpp_t }}(std::byte* buffer, {{ version_cpp_t }} actingVersion = sbeVersion()) noexcept
        : buffer_{buffer}
        , actingVersion_{actingVersion}
    {
    }

    [[nodiscard]] constexpr auto actingVersion() const noexcept -> {{ version_cpp_t }}
    {
        return actingVersion_;
    }

    [[nodiscard]] static constexpr auto sbeSchemaId() noexcept -> {{ schema_id_cpp_t }}
    {
        return {{ schema.id }};
    }

    [[nodiscard]] static constexpr auto sbeVersion() noexcept -> {{ version_cpp_t }}
    {
        return {{ schema.version }};
    }

    [[nodiscard]] static constexpr auto sbeEncodedLength() noexcept -> std::size_t
    {
        return {{ type.encoded_length }};
    }

    [[nodiscard]] static constexpr auto sbeName() noexcept -> char const* {
        return "{{ type.name }}";
    }
{% for contained_type in type.contained_types %}
    {% if contained_type.token == 'type' %}

    // type {{ contained_type.name }} {{ contained_type.length }}
    {{ generate.field_ref_type(contained_type) | indent(4) }}
    {% elif contained_type.token == 'enum' %}

    // enum {{ contained_type.name }}
    {{ generate.field_ref_enum(contained_type) | indent(4) }}
    {% elif contained_type.token == 'set' %}

    // set {{ contained_type.name }}
    {{ generate.field_ref_set(contained_type) | indent(4) }}
    {% elif contained_type.token == 'composite' %}

    // composite {{ contained_type.name }}
    {{ generate.field_ref_composite(contained_type) | indent(4) }}
    {% endif %}
{% endfor %}
};

{% endblock %}
