{% import 'property.tmpl' as property %}

{% macro define(fields) %}
    {% for field in fields %}
        {% if field.token == 'group' %}
            {{- define_group(field) }}
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro define_group(entry) %}
{%- set group_class_name = entry.name | format_class_name -%}
{%- set dimension = entry.dimension_type -%}
{%- set dimensions_class_name = dimension.name | format_class_name -%}
{%- set num_in_group = (dimension.contained_types | selectattr('name', 'equalto', 'numInGroup') | first) -%}

{%- set dimensions_type_class_name = entry.dimension_type.name | format_class_name -%}
{%- set method_name = entry.name -%}
{%- set num_in_group_type = (entry.dimension_type.contained_types | selectattr('name', 'equalto', 'numInGroup') | first) -%}

class {{ group_class_name }} {
private:
    char* buffer_ = nullptr;
    std::size_t bufferLength_ = 0;
    std::size_t initialPosition_ = 0;
    std::size_t* positionPtr_ = nullptr;
    std::size_t blockLength_ = 0;
    std::size_t count_ = 0;
    std::size_t index_ = 0;
    std::size_t offset_ = 0;
    std::uint16_t actingVersion_ = 0;

    [[nodiscard]] auto sbePositionPtr() noexcept -> std::size_t*
    {
        return positionPtr_;
    }

public:
    inline void wrapForDecode(char* buffer, std::size_t* pos, std::uint16_t actingVersion, std::size_t bufferLength)
    {
        {{ dimensions_class_name }} dimensions(buffer, *pos, bufferLength, actingVersion);
        buffer_ = buffer;
        bufferLength_ = bufferLength;
        blockLength_ = dimensions.blockLength();
        count_ = dimensions.numInGroup();
        index_ = 0;
        actingVersion_ = actingVersion;
        initialPosition_ = *pos;
        positionPtr_ = pos;
        *positionPtr_ = *positionPtr_ + {{ dimension.encoded_length }};
    }

    inline void wrapForEncode(char* buffer, std::size_t count, std::size_t* pos, std::uint16_t actingVersion, std::size_t bufferLength)
    {
        if (count > {{ num_in_group.max_value }})
        {
            throw std::runtime_error("count outside of allowed range [E110]");
        }
        buffer_ = buffer;
        bufferLength_ = bufferLength;
        {{ dimensions_class_name }} dimensions(buffer, *pos, bufferLength, actingVersion);
        dimensions.blockLength({{ entry.block_length }});
        dimensions.numInGroup(count);
        index_ = 0;
        count_ = count;
        blockLength_ = {{ entry.block_length }};
        actingVersion_ = actingVersion;
        initialPosition_ = *pos;
        positionPtr_ = pos;
        *positionPtr_ = *positionPtr_ + {{ dimension.encoded_length }};
    }

    [[nodiscard]] static constexpr auto sbeHeaderSize() noexcept -> std::size_t
    {
        return {{ dimension.encoded_length }};
    }

    [[nodiscard]] static constexpr auto sbeBlockLength() noexcept -> std::size_t
    {
        return {{ dimension.encoded_length }};
    }

    [[nodiscard]] auto sbePosition() const noexcept -> std::size_t
    {
        return *positionPtr_;
    }

    auto sbeCheckPosition(std::size_t position) -> std::size_t {
        if (position > bufferLength_) [[unlikely]] {
            throw std::runtime_error("buffer too short [E100]");
        }
        return position;
    }

    void sbePosition(std::size_t position)
    {
        *positionPtr_ = sbeCheckPosition(position);
    }

    [[nodiscard]] auto count() const noexcept -> std::size_t
    {
        return count_;
    }

    [[nodiscard]] auto hasNext() const noexcept -> bool
    {
        return index_ < count_;
    }

    inline {{ group_class_name }} &next()
    {
        if (index_ >= count_)
        {
            throw std::runtime_error("index >= count [E108]");
        }
        offset_ = *positionPtr_;
        if ((offset_ + blockLength_) > bufferLength_) [[unlikely]]
        {
            throw std::runtime_error("buffer too short for next group index [E108]");
        }
        *positionPtr_ = offset_ + blockLength_;
        ++index_;
        return *this;
    }

    auto resetCountToIndex() -> std::size_t
    {
        count_ = index_;
        {{ dimensions_class_name }} dimensions(buffer_, initialPosition_, bufferLength_, actingVersion_);
        dimensions.numInGroup(count_);
        return count_;
    }

    template<typename Func>
    inline void forEach(Func&& func)
    {
        while (hasNext())
        {
            next();
            func(*this);
        }
    }

    {{ define(entry.fields) | indent -}}
    {{ '' -}}
    {{ property.define(group_class_name, entry.fields) | indent }}

    // TODO:
    // void skip() {}
    //
    // template<typename CharT, typename Traits>
    // friend std::basic_ostream<CharT, Traits> & operator << (
    //      std::basic_ostream<CharT, Traits> &builder, NoEntries writer)
    // {
    //     builder << '{';
    //     builder << R"("Side": )";
    //     builder << '"' << writer.side() << '"';
    //
    //     builder << ", ";
    //     builder << R"("Price": )";
    //     builder << +writer.price();
    //
    //     builder << ", ";
    //     builder << R"("Qty": )";
    //     builder << +writer.qty();
    //
    //     builder << ", ";
    //     builder << R"("OrdersCount": )";
    //     builder << +writer.ordersCount();
    //
    //     builder << '}';
    //
    //     return builder;
    // }
    //
    // [[nodiscard]] static constexpr auto isConstLength() noexcept -> bool
    // {
    //     return true;
    // }
    //
    // [[nodiscard]] static constexpr auto computeLength(...) noexcept -> std::size_t
    // {
    //     return length;
    // }
    //
};
{% endmacro %}
