{#-------------------------------------------------------------------------------------
    generate access to properties inside <message>, <composite> or <group>
  -------------------------------------------------------------------------------------#}
{% macro define(class_name, fields) %}
    {% for field in fields %}
        {{- define_property(class_name, field) }}
    {% endfor %}
{% endmacro %}

{#-------------------------------------------------------------------------------------
    generate access to property inside <message>, <composite> or <group>
  -------------------------------------------------------------------------------------#}
{% macro define_property(class_name, entry) %}
{%- if 'reference_name' in entry %}
    {% set method_name = entry.reference_name -%}
{%- else %}
    {% set method_name = entry.name -%}
{%- endif %}

{%- if entry.token == 'type' %}
    {{- define_property_type(class_name, method_name, entry) -}}
{%- elif entry.token == 'composite' %}
    {{- define_property_composite(class_name, method_name, entry) -}}
{%- elif entry.token == 'enum' %}
    {{- define_property_enum(class_name, method_name, entry) -}}
{%- elif entry.token == 'set' %}
    {{- define_property_set(class_name, method_name, entry) -}}
{%- elif entry.token == 'field' %}
    {%- if entry.type.token == 'type' %}
        {{- define_property_type(class_name, method_name, entry) -}}
    {%- elif entry.type.token == 'composite' %}
        {{- define_property_composite(class_name, method_name, entry) -}}
    {%- elif entry.type.token == 'enum' %}
        {{- define_property_enum(class_name, method_name, entry) -}}
    {%- elif entry.type.token == 'set' %}
        {{- define_property_set(class_name, method_name, entry) -}}
    {%- endif %}
{%- elif entry.token == 'group' %}
    {{- define_property_group(class_name, method_name, entry) -}}
{%- elif entry.token == 'data' %}
    {{- define_property_data(class_name, method_name, entry) -}}
{%- endif %}
{% endmacro %}

{#-------------------------------------------------------------------------------------
    xml: defined as <type> or sbe primitive type

    generate access to primitive type property
  -------------------------------------------------------------------------------------#}
{% macro define_property_type(class_name, method_name, entry) -%}
{%- if entry.token == 'field' %}
    {% set type = entry.type -%}
{%- else %}
    {% set type = entry -%}
{%- endif %}

{%- if type.length == 1 %}
    {{- define_property_type_single(class_name, method_name, entry) }}
{%- elif type.length > 1 %}
    {{- define_property_type_array(class_name, method_name, entry) }}
{%- endif %}
{%- endmacro %}

{#-------------------------------------------------------------------------------------
    xml: defined as <type> or sbe primitive type of length 1
  -------------------------------------------------------------------------------------#}
{% macro define_property_type_single(class_name, method_name, entry) %}
{%- if entry.token == 'field' %}
    {% set type = entry.type -%}
{%- else %}
    {% set type = entry -%}
{%- endif %}
{%- set underlying_type = type.primitive_type.name | replace_keyword -%}
{%- set method_name_prefix = method_name | format_method_name_prefix -%}

[[nodiscard]] static constexpr auto {{ method_name_prefix }}Id() noexcept -> std::uint16_t
{
    return std::uint16_t({{ entry.id or -1 }});
}

[[nodiscard]] static constexpr auto {{ method_name_prefix }}SinceVersion() noexcept -> std::uint16_t
{
    return {{ type.since_version }};
}

[[nodiscard]] auto {{ method_name_prefix }}InActingVersion() const noexcept -> bool
{
    return actingVersion_ >= {{ method_name_prefix }}SinceVersion();
}
{% if entry.presence != 'constant' %}

[[nodiscard]] auto {{ method_name_prefix }}EncodingOffset() noexcept -> std::size_t
{
    return {{ entry.offset }};
}
{% endif %}

[[nodiscard]] auto {{ method_name_prefix }}NullValue() noexcept -> {{ underlying_type }}
{
    return {{ type.null_value | replace_keyword }};
}

[[nodiscard]] auto {{ method_name_prefix }}MinValue() noexcept -> {{ underlying_type }}
{
    return {{ type.min_value | replace_keyword }};
}

[[nodiscard]] auto {{ method_name_prefix }}MaxValue() noexcept -> {{ underlying_type }}
{
    return {{ type.max_value | replace_keyword }};
}

[[nodiscard]] static constexpr auto {{ method_name_prefix }}EncodingLength() noexcept -> std::size_t
{
    return {{ type.encoded_length }};
}
{% if entry.presence == 'constant' %}

[[nodiscard]] static constexpr auto {{ method_name_prefix }}() noexcept -> {{ underlying_type }}
{
    {% if type.primitive_type.name == 'char' %}
    return '{{ type.const_value }}';
    {% else %}
    return {{ type.const_value }};
    {% endif %}
}
{% endif %}
{% if entry.presence == 'required' or entry.presence == 'optional' %}

[[nodiscard]] auto {{ method_name_prefix }}() const noexcept -> {{ underlying_type }}
{
    {{ underlying_type }} val;
    std::memcpy(&val, buffer_ + offset_ + {{ entry.offset }}, sizeof(val));
    return val; // TODO: little endian decode
}

{{ class_name }}& {{ method_name_prefix }}({{ underlying_type }} value) noexcept
{
    // TODO: little endian encode
    std::memcpy(buffer_ + offset_ + {{ entry.offset }}, &value, sizeof(value));
    return *this;
}
{% endif %}
{% endmacro %}

{#-------------------------------------------------------------------------------------
    xml: defined as <type> or sbe primitive type of length greater 1
  -------------------------------------------------------------------------------------#}
{% macro define_property_type_array(class_name, method_name, entry) %}
{%- if entry.token == 'field' %}
    {%- set type = entry.type -%}
{%- else %}
    {%- set type = entry -%}
{%- endif %}
{%- set underlying_type = type.primitive_type.name | replace_keyword -%}
{%- set is_string = type.primitive_type.name == 'char' -%}
{%- set method_name_prefix = method_name | format_method_name_prefix -%}
{%- set method_name_suffix = method_name | format_method_name_suffix -%}

[[nodiscard]] static constexpr auto {{ method_name_prefix }}Id() noexcept -> std::uint16_t
{
    return std::uint16_t({{ entry.id or -1 }});
}

[[nodiscard]] static constexpr auto {{ method_name_prefix }}SinceVersion() noexcept -> std::uint16_t
{
    return {{ type.since_version }};
}

[[nodiscard]] auto {{ method_name_prefix }}InActingVersion() const noexcept -> bool
{
    return actingVersion_ >= {{ method_name_prefix }}SinceVersion();
}
{% if entry.presence != 'constant' %}

[[nodiscard]] auto {{ method_name_prefix }}EncodingOffset() noexcept -> std::size_t
{
    return {{ entry.offset }};
}
{% endif %}

[[nodiscard]] auto {{ method_name_prefix }}NullValue() noexcept -> {{ underlying_type }}
{
{% if is_string  %}
    return static_cast<char>({{ type.null_value | replace_keyword }});
{% else %}
    return {{ type.null_value | replace_keyword }};
{% endif %}
}

[[nodiscard]] auto {{ method_name_prefix }}MinValue() noexcept -> {{ underlying_type }}
{
{% if is_string %}
    return static_cast<char>({{ type.min_value | replace_keyword }});
{% else %}
    return {{ type.min_value | replace_keyword }};
{% endif %}
}

[[nodiscard]] auto {{ method_name_prefix }}MaxValue() noexcept -> {{ underlying_type }}
{
{% if is_string %}
    return static_cast<char>({{ type.max_value | replace_keyword }});
{% else %}
    return {{ type.max_value | replace_keyword }};
{% endif %}
}

[[nodiscard]] static constexpr auto {{ method_name_prefix }}EncodingLength() noexcept -> std::size_t
{
    return {{ type.encoded_length }};
}

[[nodiscard]] static constexpr auto {{ method_name_prefix }}Length() noexcept -> std::size_t
{
    return {{ type.length }};
}
{% if entry.presence == 'constant' %}

// [[nodiscard]] static constexpr auto {{ method_name_prefix }}() noexcept -> {{ underlying_type }} const*
// {
//     {% if type.primitive_type.name == 'char' %}
//     return '{{ type.const_value }}';
//     {% else %}
//     return {{ type.const_value }};
//     {% endif %}
// }
{% endif %}
{% if entry.presence == 'required' or entry.presence == 'optional' %}

[[nodiscard]] auto {{ method_name_prefix }}() const noexcept -> {{ underlying_type }} const*
{
    return static_cast<{{ underlying_type }} const*>(buffer_ + offset_ + {{ entry.offset }});
}

[[nodiscard]] auto {{ method_name_prefix }}() noexcept -> {{ underlying_type }}*
{
    return static_cast<{{ underlying_type }}*>(buffer_ + offset_ + {{ entry.offset }});
}

[[nodiscard]] auto {{ method_name_prefix }}(std::size_t index) const -> {{ underlying_type }}
{
    if (index >= {{ type.length }}) [[unlikely]]
    {
        throw std::runtime_error("index out of range for {{ method_name_prefix }} [E104]");
    }
    return this->{{ method_name_prefix }}()[index];
}

[[nodiscard]] {{ class_name }}& {{ method_name_prefix }}(std::size_t index, {{ underlying_type }} value)
{
    if (index >= {{ type.length }}) [[unlikely]]
    {
        throw std::runtime_error("index out of range for {{ method_name_prefix }} [E104]");
    }
    this->{{ method_name_prefix }}()[index] = value;
    return *this;
}

[[nodiscard]] auto get{{ method_name_suffix }}({{ underlying_type }}* dst, std::size_t length) const -> std::size_t
{
    if (length >= {{ type.length }}) [[unlikely]]
    {
        throw std::runtime_error("length too large for get{{ method_name_suffix}} [E106]");
    }
    std::memcpy(dst, this->{{ method_name_prefix }}(), {{ type.primitive_type.size }} * length);
    return length;
}

{{ class_name }}& put{{ method_name_suffix }}({{ underlying_type }} const* src) noexcept
{
    std::memcpy(this->{{ method_name_prefix }}(), src, {{ type.primitive_type.size }} * {{ type.length }});
    return *this;
}
{% if is_string %}

[[nodiscard]] auto get{{ method_name_suffix }}AsString() const -> std::string
{
    {{ underlying_type }} const* buffer = this->{{ method_name_prefix }}();
    std::size_t length;
    for (; length < {{ type.length }} && *(buffer + length) != '\0'; ++length);
    return std::string(buffer, length);
}

[[nodiscard]] auto get{{ method_name_suffix }}AsJsonEscapedString()
{
    std::ostringstream oss;
    for (auto c: get{{ method_name_suffix }}AsStringView())
    {
        switch (c)
        {
            case '"': oss << "\\\""; break;
            case '\\': oss << "\\\\"; break;
            case '\b': oss << "\\b"; break;
            case '\f': oss << "\\f"; break;
            case '\n': oss << "\\n"; break;
            case '\r': oss << "\\r"; break;
            case '\t': oss << "\\t"; break;

            default:
                if ('\x00' <= c && c <= '\x1f')
                {
                    oss << "\\u" << std::hex << std::setw(4)
                        << std::setfill('0') << (int)(c);
                }
                else
                {
                    oss << c;
                }
        }
    }

    return oss.str();
}

[[nodiscard]] auto get{{ method_name_suffix }}AsStringView() const noexcept -> std::string_view
{
    {{ underlying_type }} const* buffer = {{ method_name_prefix }}();
    std::size_t length;
    for (; length < {{ type.length }} && *(buffer + length) != '\0'; ++length);
    return std::string_view(buffer, length);
}

{{ class_name }}& put{{ method_name_suffix }}(std::string_view str)
{
    if (str.size() > {{ type.length }})
    {
        throw std::runtime_error("length too large for put{{ method_name_suffix}} [E106]");
    }
    std::memcpy({{ method_name_prefix }}(), str.data(), str.size());
    for (std::size_t start = str.size(); start < {{ type.length }}; ++start)
    {
        {{ method_name_prefix }}()[start] = 0;
    }
    return *this;
}
{% endif %}
{% endif %}
{% endmacro %}

{#-------------------------------------------------------------------------------------
    xml: defined as <composite>

    generate access to composite type property
  -------------------------------------------------------------------------------------#}
{% macro define_property_composite(class_name, method_name, entry) %}
{%- if entry.token == 'field' %}
    {% set type = entry.type -%}
{%- else %}
    {% set type = entry -%}
{%- endif %}
{%- set composite_class_name = type.name | format_class_name -%}
{%- set method_name_prefix = method_name | format_method_name_prefix -%}
{%- set method_name_suffix = method_name | format_method_name_suffix -%}

[[nodiscard]] static constexpr auto {{ method_name_prefix }}Id() noexcept -> std::uint16_t
{
    return {{ entry.id or -1 }};
}

[[nodiscard]] static constexpr auto {{ method_name_prefix }}SinceVersion() noexcept -> std::uint16_t
{
    return {{ type.since_version }};
}

[[nodiscard]] auto {{ method_name_prefix }}InActingVersion() const noexcept -> bool
{
    return actingVersion_ >= {{ method_name_prefix }}SinceVersion();
}

[[nodiscard]] auto {{ method_name_prefix }}EncodingOffset() noexcept -> std::size_t
{
    return {{ entry.offset }};
}

private:
{{ composite_class_name }} {{ method_name_prefix }}_;

public:
[[nodiscard]] auto {{ method_name_prefix }}() -> {{ composite_class_name }}&
{
    {{ method_name_prefix }}_.wrap(buffer_, offset_ + {{ entry.offset }}, actingVersion_, bufferLength_);
    return {{ method_name_prefix }}_;
}
{% endmacro %}

{#-------------------------------------------------------------------------------------
    xml: defined as <enum>

    generate access to enum type property
  -------------------------------------------------------------------------------------#}
{% macro define_property_enum(class_name, method_name, entry) %}
{%- if entry.token == 'field' %}
    {%- set type = entry.type -%}
{%- else %}
    {%- set type = entry -%}
{%- endif %}
{%- if entry.value_ref != None %}
    {%- set const_value = entry.value_ref -%}
{%- else %}
    {%- set const_value = type.const_value -%}
{%- endif %}
{%- set enum_class_name = type.name | format_class_name -%}
{%- set underlying_type = type.encoding_type.name | replace_keyword -%}
{%- set method_name_prefix = method_name | format_method_name_prefix -%}

[[nodiscard]] static constexpr auto {{ method_name_prefix }}Id() noexcept -> std::uint16_t
{
    return std::uint16_t({{ entry.id or -1 }});
}

[[nodiscard]] static constexpr auto {{ method_name_prefix }}SinceVersion() noexcept -> std::uint16_t
{
    return {{ type.since_version }};
}

[[nodiscard]] auto {{ method_name_prefix }}InActingVersion() const noexcept -> bool
{
    return actingVersion_ >= {{ method_name_prefix }}SinceVersion();
}
{% if entry.presence != 'constant' %}

[[nodiscard]] auto {{ method_name_prefix }}EncodingOffset() noexcept -> std::size_t
{
    return {{ entry.offset }};
}
{% endif %}

[[nodiscard]] static constexpr auto {{ method_name_prefix }}EncodingLength() noexcept -> std::size_t
{
    return {{ type.encoded_length }};
}

{% if entry.presence == 'constant' %}

// TODO
// [[nodiscard]] static constexpr auto {{ method_name_prefix }}() noexcept -> {{ underlying_type }}
// {
//     {% if type.primitive_type.name == 'char' %}
//     return '{{ type.const_value }}';
//     {% else %}
//     return {{ type.const_value }};
//     {% endif %}
// }
{% endif %}
{% if entry.presence == 'required' or entry.presence == 'optional' %}

[[nodiscard]] auto {{ method_name_prefix }}Raw() const noexcept -> {{ underlying_type }}
{
    {{ underlying_type }} val;
    std::memcpy(&val, buffer_ + offset_ + {{ entry.offset }}, sizeof(val));
    return val;
}

[[nodiscard]] auto {{ method_name_prefix }}() const -> {{ enum_class_name }}::Value
{
    return {{ enum_class_name }}::get({{ method_name_prefix }}Raw());
}

{{ class_name }}& {{ method_name_prefix }}({{ enum_class_name }}::Value value) noexcept
{
    {{ underlying_type }} val = static_cast<{{ underlying_type }}>(value);
    std::memcpy(buffer_ + offset_ + {{ entry.offset }}, &value, sizeof(value));
    return *this;
}
{% endif %}
{% endmacro %}

{#-------------------------------------------------------------------------------------
    xml: defined as <enum>

    generate access to set type property
  -------------------------------------------------------------------------------------#}
{% macro define_property_set(class_name, method_name, entry) %}
{%- if entry.token == 'field' %}
    {% set type = entry.type -%}
{%- else %}
    {% set type = entry -%}
{%- endif %}
{%- set set_class_name = type.name | format_class_name -%}
{%- set method_name_prefix = method_name | format_method_name_prefix -%}

[[nodiscard]] static constexpr auto {{ method_name_prefix }}Id() noexcept -> std::uint16_t
{
    return std::uint16_t({{ entry.id or -1 }});
}

[[nodiscard]] static constexpr auto {{ method_name_prefix }}SinceVersion() noexcept -> std::uint16_t
{
    return {{ type.since_version }};
}

[[nodiscard]] auto {{ method_name_prefix }}InActingVersion() const noexcept -> bool
{
    return actingVersion_ >= {{ method_name_prefix }}SinceVersion();
}

[[nodiscard]] auto {{ method_name_prefix }}EncodingOffset() noexcept -> std::size_t
{
    return {{ entry.offset }};
}

private:
{{ set_class_name }} {{ method_name_prefix }}_;

public:
[[nodiscard]] auto {{ method_name_prefix }}() -> {{ set_class_name }}&
{
    {{ method_name_prefix }}_.wrap(buffer_, offset + {{ entry.offset }}, actingVersion_, bufferLength_);
    return {{ method_name_prefix }}_;
}

[[nodiscard]] static constexpr auto {{ method_name_prefix }}EncodingLength() noexcept -> std::size_t
{
    return {{ type.encoded_length }};
}
{% endmacro %}

{#-------------------------------------------------------------------------------------
    xml: defined as <group>

    generate access to group type property
  -------------------------------------------------------------------------------------#}
{% macro define_property_group(class_name, method_name, entry) %}
{%- set group_class_name = entry.name | format_class_name -%}
{%- set dimensions_type_class_name = entry.dimension_type.name | format_class_name -%}
{%- set num_in_group_type = (entry.dimension_type.contained_types | selectattr('name', 'equalto', 'numInGroup') | first) -%}
{%- set method_name_prefix = method_name | format_method_name_prefix -%}

private:
{{ group_class_name }} {{ method_name_prefix }}_;

public:
[[nodiscard]] static constexpr auto {{ method_name_prefix }}Id() noexcept -> std::uint16_t
{
    return {{ entry.id }};
}

[[nodiscard]] {{ group_class_name }}& {{ method_name_prefix }}()
{
    {{ method_name_prefix }}_.wrapForDecode(buffer_, sbePositionPtr(), actingVersion_, bufferLength_);
    return {{ method_name_prefix }}_;
}

[[nodiscard]] {{ group_class_name }}& {{ method_name_prefix }}Count(std::size_t count)
{
    {{ method_name_prefix }}_.wrapForEncode(buffer_, count, sbePositionPtr(), actingVersion_, bufferLength_);
    return {{ method_name_prefix }}_;
}

[[nodiscard]] static constexpr auto {{ method_name_prefix }}SinceVersion() noexcept -> std::uint16_t
{
    return {{ entry.since_version }};
}

[[nodiscard]] auto {{ method_name_prefix }}InActingVersion() const noexcept -> bool
{
    return actingVersion_ >= {{ method_name_prefix }}SinceVersion();
}
{% endmacro %}

{#-------------------------------------------------------------------------------------
    xml: defined as <data>

    generate access to data type property

    TODO: fix me
  -------------------------------------------------------------------------------------#}
{% macro define_property_data(class_name, method_name, entry) %}
{%- set type = entry.type -%}
{%- set length_type = (type.contained_types | selectattr('name', 'equalto', 'length') | first) -%}
{%- set var_data_type = (type.contained_types | selectattr('name', 'equalto', 'varData') | first) -%}
{%- set length_underlying_type = length_type.primitive_type.name | replace_keyword -%}
{%- set data_underlying_type = var_data_type.primitive_type.name | replace_keyword -%}

{%- if var_data_type.primitive_type.name == 'char' or var_data_type.primitive_type.name == 'uint8' %}
    {%- set data_underlying_type = 'char' -%}
    {%- set value_type = 'std::string_view' -%}
{%- else %}
    {%- set value_type = 'std::span<' ~ data_underlying_type ~ ' const>' -%}
{%- endif %}

{%- set method_name_prefix = method_name | format_method_name_prefix -%}

[[nodiscard]] std::size_t {{ method_name_prefix }}() const noexcept {
    return *std::bit_cast<{{ length_underlying_type }} const*>(buffer_ + sbePosition());
}

[[nodiscard]] {{ value_type }} {{ method_name_prefix }}() noexcept {
    {{ length_underlying_type }} const length = *std::bit_cast<{{ length_underlying_type }} const*>(buffer_ + sbePosition());
    {{ data_underlying_type }} const* begin = std::bit_cast<{{ data_underlying_type }} const*>(buffer_ + sbePosition() + sizeof(length));
    sbePosition(sbePosition() + sizeof(length) + length);
    return {{ value_type }}(begin, length);
}

{{ class_name }}& {{ method_name_prefix }}({{ value_type }} value) noexcept {
    auto const lengthPosition = sbePosition();
    sbePosition(lengthPosition + sizeof({{ length_underlying_type }}));
    *std::bit_cast<{{ length_underlying_type }}*>(buffer_ + lengthPosition) = value.size();
    if (value.size() > 0) [[likely]] {
        auto const pos = sbePosition();
        auto const size = value.size() * sizeof({{ data_underlying_type }});
        sbePosition(pos + size);
        std::memcpy(buffer_ + pos, value.data(), size);
    }
    return *this;
}
{% endmacro %}
