{% extends 'document.tmpl' %}
{% import 'generate.tmpl' as generate with context %}

{% block includes %}
#include <cstdint>
#include <limits>
{% endblock %}

{% block content %}

{{ generate.set(type) }}

{% endblock %}
