{% extends 'document.tmpl' %}

{% import 'generate.tmpl' as generate %}

{% block include %}
#include <cstdint>

#include "typing.h"

{% endblock %}

{% block content %}

using namespace sbe_code_gen;

{{ generate.composite_definition(type, schema) }}

{% endblock %}
