// Generated simple binary encoding message codec
// Message codec generator: https://github.com/ksergey/sbe-code-gen

#pragma once

{% block include %}
{% for include in includes | sort(case_sensitive=True) %}
#include "{{ include }}"
{% endfor %}

{% endblock -%}

{% if schema.package != None %}
namespace {{ schema.package | join('::') | replace(' ', '_') }} {
{% else %}
namespace sbe {
{% endif -%}

{% block content %}
{% endblock -%}

{% if schema.package != None %}
} // namespace {{ schema.package | join('::') | replace(' ', '_') }}
{% else %}
} // namespace sbe
{% endif -%}
