{% extends 'document.tmpl' %}

{% import 'generate.tmpl' as generate %}

{% block include %}
#include <cstdint>
#include <numeric>
#include <optional>
#include <string_view>

#include "typing.h"

{% endblock %}

{% block content %}

using namespace sbe_code_gen;

{{ generate.define_enum(type, schema) }}

{% endblock %}
