// Generated simple binary encoding message codec
// Message codec generator: https://github.com/ksergey/sbe-code-gen

#pragma once

{% for message in schema.messages | sort(attribute='name') %}
#include "{{ message.name | format_class_name }}.h"
{% endfor %}
