{% extends 'document.tmpl' %}

{% import 'generate.tmpl' as generate with context %}

{% block includes %}
#include <algorithm>
#include <bit>
#include <cmath>
#include <cstddef>
{% if generate.decl_json_io %}

#include <nlohmann/json.hpp>
{% endif %}
{% if type.name == schema.header_type.name %}
#include <span>
{% endif %}
{% set types = [] %}
{% for contained_type in type.contained_types recursive %}
    {% if contained_type.token in ('enum', 'set', 'composite') and not contained_type.inplace %}
        {% set types = types.append(contained_type.name) %}
    {% endif %}
    {% if contained_type.token == 'composite' %}
        {{- loop(contained_type.contained_types) -}}
    {% endif %}
{% endfor %}
{% set types = types | sort | unique | list %}
{% if types | length > 0 %}

    {% for type in types %}
#include "{{ type | fmt_class_type | fmt_header_name }}"
    {% endfor %}
{% endif %}
{% endblock %}

{% block content %}

{{ generate.composite_decl(type) }}
{% if type.name == schema.header_type.name %}

    {% for message in schema.messages %}
class {{ message.name | fmt_class_message }};
    {% endfor %}

    {% set class_cpp_t = type.name | fmt_class_type %}
template <typename Fn>
constexpr auto decode(std::span<std::byte> buffer, Fn fn) -> bool {
    if (buffer.size() < {{ type.encoded_length }}) [[unlikely]] {
        throw std::runtime_error{"buffer too short to decode {{ class_cpp_t }}"};
    }

    auto header = {{ class_cpp_t }}{buffer.data()};
    auto const templateId = header.get<"templateId">().value();
    auto const actingBlockLength = header.get<"blockLength">().value();
    auto const actingVersion = header.get<"version">().value();

    switch (templateId) {
    {% for message in schema.messages %}
    case {{ message.id }}: fn({{ message.name | fmt_class_message }}(buffer, {{ type.encoded_length }}, actingBlockLength, actingVersion)); break;
    {% endfor %}
    default: return false;
    }
    return true;
}
{% endif %}

{% endblock %}
