{% extends 'document.tmpl' %}

{% import 'generate.tmpl' as generate with context %}

{% block includes %}
#include <cstdint>
#include <iostream>
#include <limits>
{% endblock %}

{% block content %}

{{ generate.enum_decl(type) }}

{% endblock %}
