{% extends 'document.tmpl' %}

{% import 'generate.tmpl' as generate with context %}

{% block includes %}
#include <algorithm>
#include <bit>
#include <cstddef>
#include <span>
{# let's find all non-trivial types recursively #}
{% set types = [ schema.header_type.name ] %}
{% for field in message.fields recursive %}
    {% if field.token == 'field' and field.type.token in ('enum', 'set', 'composite') %}
        {% set types = types.append(field.type.name) %}
    {% elif field.token == 'group' %}
        {% set types = types.append(field.dimension_type.name) %}
        {{- loop(field.fields) -}}
    {% endif %}
{% endfor %}
{% set types = types | sort | unique | list %}
{% if types | length > 0 %}

    {% for type in types %}
#include "{{ type | fmt_class_type | fmt_header_name }}"
    {% endfor %}
{% endif %}
{% endblock %}

{% block content %}

{{ generate.message_decl(message) }}

{% endblock %}
