{#-
    Copyright (C) 2022 Sergey Kovalevich <inndie@gmail.com>
    This file may be distributed under the terms of the GNU GPLv3 license
-#}

// Generated simple binary encoding message codec
// Message codec generator: https://github.com/TheBoysCoding/sbe-code-gen

#pragma once

{% for include in includes | sort %}
#include "{{ include }}"
{% endfor %}
